<input placeholder="Пароль" id="password" type="password">
<input placeholder="Почта" id="email_code" type="text">
<button class="login__btn" id="submit">Сменить пароль</button>

<script>
	$("#submit").on("click",function(){
		let toServer = { password: $("#password").val(),email_code: $("#email_code").val() }
		$.post( "/auth/change-password",toServer)
		 .done(function( data ) {
		 	if(data == "ok"){
		 		window.location.reload();
		 	}
		  console.log( data );
		});
	});
</script>