<input placeholder="Логин или почта" id="login" type="text">
<input placeholder="Пароль" id="password" type="password">
<button class="login__btn" id="submit">Войти</button>

<script>
	$("#submit").on("click",function(){
		let toServer = { login: $("#login").val(), password: $("#password").val()}
		$.post( "/auth/login",toServer)
		 .done(function( data ) {
		 	if(data == "ok"){
		 		window.location = "/user";
		 	}
		  console.log( data );
		});
	});
</script>