<input placeholder="Логин" id="login" type="text">
<input placeholder="Пароль" id="password" type="password">
<input placeholder="Почта" id="email" type="email">
<button class="login__btn" id="submit">Зарегистрироваться</button>

<script>
	$("#submit").on("click",function(){
		let toServer = { login: $("#login").val(), password: $("#password").val(), email: $("#email").val() }
		$.post( "/auth/registration",toServer)
		 .done(function( data ) {
		 	if(data == "ok"){
		 		window.location.reload();
		 	}
		  console.log( data );
		});
	});
</script>