<input placeholder="Код" id="email" type="email">
<button class="login__btn" id="submit">Отправить код</button>

<script>
	$("#submit").on("click",function(){
		let toServer = { email: $("#email").val() };
		$.post( "/auth/send-mail-change-password",toServer)
		 .done(function( data ) {
		 	if(data == "ok"){
		 		window.location = "/auth/change-password";
		 	}
		  	console.log( data );
		});
	});
</script>