<div class="flex">
<ul class="flex-container">
  <li class="flex-item"><a href="http://oddr.info/projects/ot-slova-k-delu/"><img src="/img/project/1.png"></a></li>
  <li class="flex-item"><a href="http://oddr.info/projects/pravomobil/"><img src="/img/project/2.png"></a></li>
  <li class="flex-item"><a href="http://oddr.info/projects/obshhestvennyj-shtab-po-prifrontovym-rajonam-dnr/"><img src="/img/project/3.png"></a></li>
  <li class="flex-item"><a href="http://oddr.info/projects/nk/"><img src="/img/project/4.png"></a></li>
  <li class="flex-item"><a href="http://oddr.info/projects/respublikanskaja-akcija-ujutnyj-dvor/"><img src="/img/project/5.png"></a></li>
  <li class="flex-item"><a href="http://oddr.info/projects/narodnaja-druzhina/"><img src="/img/project/6.png"></a></li>
</ul>

</div>