<index class="feed">
    <div class="feed__block">
             <div class=feed__block-h1>
             Постановлением Народного Совета Донецкой Народной Республики 31 августа 2018 года принят Закон
             Донецкой Народной Республики «О внесении изменений в Закон Донецкой Народной Республики
             «Об обращениях граждан». Дата опубликования 15.09.2018 г. <br><br>

             Изменения, внесенные в часть 1 статьи 8 Закона, предусматривают возможность подачи обращения
             в форме электронного документа, направленного с использованием информационно – телекоммуникационной
             сети Интернет.<br><br>

             Поступившее обращение подается и рассматривается в порядке, установленном Законом Донецкой
             Народной Республики «Об обращениях граждан» для  письменных обращений с учетом особенностей
             электронной формы документа, а именно: в течение тридцати календарных дней со дня регистрации
             письменного обращения, а те, которые не требуют дополнительного изучения, – безотлагательно,
             но не позднее пятнадцати календарных дней со дня их получения.<br><br>

             В обращении, поданном в форме электронного документа, в соответствии с частью 2-1 статьи
             10 Закона, гражданин обязательно указывает свои фамилию, имя, отчество (при  наличии),
             адрес места жительства(пребывания), телефон, адрес электронной почты, по которому должны
             быть направлены ответ или уведомление о переадресации обращения.<br><br>

             Граждане вправе приложить к такому обращению необходимые документы и материалы в электронной форме.<br><br>

             Применение электронной подписи при подаче обращения в форме электронного документа не требуется.<br><br>

             При несоответствии поданного обращения вышеуказанным требованиям, обращение рассмотрению не подлежит
             (ст. 18 Закона Донецкой Народной Республики «Об обращении граждан»).<br><br>

             Ответ на обращение направляется в отсканированном виде на электронный адрес заявителя.  <br><br>
             </div>

             <div class="feed_block-form">
                <form class="page6__wrap-block">
                        <input class="page6__wrap-block-call-one" type="text" size="12" placeholder="Укажите ваше ФИО">
                        <input class="page6__wrap-block-call-two" type="text" size="15" placeholder="Укажите ваше место жительства">
                        <input class="page6__wrap-block-call-three" type="text" size="15" placeholder="Укажите ваш E-mail">
                        <input class="page6__wrap-block-call-four" type="text" size="15" placeholder="Укажите ваш номер телефона">
                        <input class="page6__wrap-block-call-five" type="text" size="15" placeholder="Укажите тему вашего обращения">
                        <input class="page6__wrap-block-call-six" type="text" size="15" placeholder="Укажите текст обращения">
                        <input class="page6__button" type="submit" value="Связаться с нами">
                </form>
             </div>

             </div>
</index>