*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	scrollbar-color: var(--color-block) var(--color-1);
	scrollbar-width: thin;
	scroll-behavior: smooth;
	*::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	}
	&::-webkit-scrollbar-track {
	  background: var(--color-1);
	}
	&::-webkit-scrollbar-thumb {
	  background: var(--color-block); 
	}
	&::-webkit-scrollbar-thumb:hover {
	  background: var(--color-accent-4); 
	}
}

.res{
	margin-left: 25%;
	margin-top: 40px;
	margin-bottom: 40px;
}
.flex{

	&-container {
		padding: 0;
		margin: 0;
		list-style: none;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
	&-item {
		padding: 5px;
		margin-top: 40px;
		line-height: 150px;
		color: white;
		font-weight: bold;
		font-size: 3em;
		text-align: center;
	}
}


.page6{
    &__wrap {
      &-block {
        width: 372px;
        height: 670px;
        margin-top: 30px;
        margin-left: 38%;
        &-call-one{
          height: 52px;
          width: 365px;
          margin-bottom: 30px;
          color: #a7a7a7;
          font-family: var(--font-first);
          font-weight: 400;
          text-align: left;
          padding-left: 14px;
          font-size: 14px;
        }
        &-call-two{
          height: 52px;
          width: 365px;
          margin-bottom: 30px;
          color: #a7a7a7;
          font-family: var(--font-first);
          font-weight: 400;
          text-align: left;
          padding-left: 14px;
          font-size: 14px;
        }
        &-call-three{
          height: 52px;
          width: 365px;
          margin-bottom: 30px;
          color: #a7a7a7;
          font-family: var(--font-first);
          font-weight: 400;
          text-align: left;
          padding-left: 14px;
          font-size: 14px;
        }
        &-call-four{
          height: 52px;
          width: 365px;
          margin-bottom: 30px;
          color: #a7a7a7;
          font-family: var(--font-first);
          font-weight: 400;
          text-align: left;
          padding-left: 14px;
          font-size: 14px;
        }
        &-call-five{
          height: 52px;
          width: 365px;
          margin-bottom: 30px;
          color: #a7a7a7;
          font-family: var(--font-first);
          font-weight: 400;
          text-align: left;
          padding-left: 14px;
          font-size: 14px;
        }
        &-call-six{
          height: 150px;
          width: 365px;
          margin-bottom: 5px;
          color: #a7a7a7;
          font-family: var(--font-first);
          font-weight: 400;
          text-align: left;
          padding-left: 14px;
          font-size: 14px;
        }
      }
    }
    &__button{
      margin-left: 214px;
      height: 50px;
      background-color: white;
      width: 150px;
      border-width: 1px;
      border-color: black;
      color: #4f4f4f;
      font-family: var(--font-first);
      font-weight: 400;
      text-align: center;
      font-size: 15px;
      margin-top: 20px;
      &:hover{
        transform: scale(1.01);
      }
    }
  }


.feed{
	&__block{
		left: 100px;
		top: 150px;
		right: 100px;
		&-h1{
			text-align: center;
			margin-left: 50px;
			margin-right: 50px;
			margin-top: 10px;
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			line-height: 27px;

			color: #000000;
			}
		}
	}

.about{
	&__block{
		width: 1162px;
		height: 1100px;
		left: 139px;
		top: 132px;
		&-1{
			&-img{
				margin-left: 30%;
				margin-block: 13px;
				height: 90%;
			}
			&-h1{
				margin-left: 50px;
				margin-top: 10px;
				font-style: normal;
				font-weight: 300;
				font-size: 13px;
				line-height: 27px;

				color: #000000;
			}
		}
	}
}
.index{
	&__block{
		width: 800px;
		min-height: 937px;
		margin: auto;
		&-page{
			margin-top: 20px;
			margin-left: 76%;
		}
		&-1{
			margin-top: 20px;
			padding: 13px;
			width: 800px;
			background: #FFFFFF;
			border-radius: 15px;
			display: flex;
			&-img{
				width: 310px;
				margin-right: 13px;
			    object-fit: contain;
			    object-position: top;
			}
			&-text{
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 18px;
				color: #000000;
			}
		}
		&-2{
			margin-left: 33%;
			margin-top: 20px;
			width: 800px;
			height: 250px;
			left: 320px;
			top: 192px;

			background: #FFFFFF;
			border-radius: 15px;
		}
		&-3{
			margin-left: 33%;
			margin-top: 20px;
			width: 800px;
			height: 250px;
			left: 320px;
			top: 192px;

			background: #FFFFFF;
			border-radius: 15px;
		}
	}
}
:root{
	--mainFont:"Roboto";

	--color-1: #ffffff;
	--color-2: #A7C0E9;
	--color-3: #01123C;

	--color-accent-1: #fc5f45;/*красный*/
	--color-accent-2: #38c695;/*зеленый*/
	--color-accent-3: #b27cf5;/*фелюлетовый*/
	--color-accent-4: #feb960;/*оранжевый*/

	--color-block: #f7f7f7;/*цвет блоков*/

}

@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Light.ttf");
 	font-weight: 300;
}
@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Thin.ttf");
 	font-weight: 100;
}
@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Bold.ttf");
 	font-weight: 700;
}
@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Regular.ttf");
 	font-weight: 400;
}

html{
	font-size: 8px;
}

body{
	background-color: var(--color-2);
	color: var(--color-1);
	font-family: var(--mainFont);
}

a{
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
}

ul,ol{
	list-style-type: none;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

@import 'blocks/header';
@import "blocks/footer";