*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	scrollbar-color: var(--color-block) var(--color-1);
	scrollbar-width: thin;
	scroll-behavior: smooth;
	*::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	}
	&::-webkit-scrollbar-track {
	  background: var(--color-1);
	}
	&::-webkit-scrollbar-thumb {
	  background: var(--color-block); 
	}
	&::-webkit-scrollbar-thumb:hover {
	  background: var(--color-accent-4); 
	}
}

.index{
	&__block{
		width: 800px;
		height: 937px;
		left: 320px;
		top: 192px;
		&-page{
			margin-top: 20px;
			margin-left: 76%;
		}
		&-1{
			margin-left: 33%;
			margin-top: 20px;
			width: 800px;
			height: 250px;
			left: 320px;
			top: 192px;

			background: #FFFFFF;
			border-radius: 15px;
			display: flex;

			&-img{
				margin-left: 13px;
				margin-block: 13px;
				height: 90%;
			}
			&-h1{
				margin-left: 10px;
				margin-top: 10px;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-transform: uppercase;

				color: #000000;
			}
			&-h2{
				margin-left: 10px;
				margin-right: 10px;
				margin-top: 5px;
				font-style: normal;
				font-weight: 300;
				font-size: 12px;
				line-height: 18px;
				color: #000000;
			}
		}
		&-2{
			margin-left: 33%;
			margin-top: 20px;
			width: 800px;
			height: 250px;
			left: 320px;
			top: 192px;

			background: #FFFFFF;
			border-radius: 15px;
		}
		&-3{
			margin-left: 33%;
			margin-top: 20px;
			width: 800px;
			height: 250px;
			left: 320px;
			top: 192px;

			background: #FFFFFF;
			border-radius: 15px;
		}
	}
}
:root{
	--mainFont:"Roboto";

	--color-1: #ffffff;
	--color-2: #A7C0E9;
	--color-3: #01123C;

	--color-accent-1: #fc5f45;/*красный*/
	--color-accent-2: #38c695;/*зеленый*/
	--color-accent-3: #b27cf5;/*фелюлетовый*/
	--color-accent-4: #feb960;/*оранжевый*/

	--color-block: #f7f7f7;/*цвет блоков*/

}

@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Light.ttf");
 	font-weight: 300;
}
@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Thin.ttf");
 	font-weight: 100;
}
@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Bold.ttf");
 	font-weight: 700;
}
@font-face {
 	font-family: "Roboto";
 	src: url("/fonts/Roboto-Regular.ttf");
 	font-weight: 400;
}

html{
	font-size: 8px;
}

body{
	background-color: var(--color-2);
	color: var(--color-1);
	font-family: var(--mainFont);
}

a{
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
}

ul,ol{
	list-style-type: none;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

@import 'blocks/header';
@import "blocks/footer";