<header class="header">
	<div class="header__fixed">
		<div class="container header__container">
			<a class="header__logo" href="">
				<img class="header__logo-img" src="/img/logo.png" alt="Логотип Донецкого Политехнического колледжа">
				<span class="header__logo-text">Администрация <br> Ворошиловского района <br> города Донецка </span>
			</a>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://localhost:3000">
							Новости
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://localhost:3000/about">
							О районе
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://localhost:3000/project">
							Проекты
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://localhost:3000/reception">
							Администрация района
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://localhost:3000/feedback">
							Общественная приемная
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>