<header class="header">
	<div class="header__fixed">
		<div class="container header__container">
			<a class="header__logo" href="">
				<img class="header__logo-img" src="/img/logo.png" alt="Логотип Донецкого Политехнического колледжа">
				<span class="header__logo-text">Отделение <br> Программирования</span>
			</a>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Новости
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Фотографии
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Преподаватели
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Группы
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Лучшие студенты
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Учебные планы
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							Контакты
						</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="">
							О нас
						</a>
					</li>
					<!-- <li class="header__nav-item">
						<a class="header__nav-link" href="">
							Нормативные документы
						</a>
					</li> -->
				</ul>
			</nav>
		</div>
	</div>
</header>