
<index class="index">
    <div class="index__block">
        <% if(page.news){ %>
          <%  for(let i = 0; i < page.news.length; i++){ %>
            <div class="index__block-1">
               <img class="index__block-1-img" src="<%= page.news[i].img %>">
               <div class=index__block-1-text>
               <%- page.news[i].text %>
               </div>
            </div>
          <% } %>
        <% } %>
        <!-- <div class="index__block-1">
             <img class="index__block-1-img" src="/img/news/1.png">
             <div>
             <div class=index__block-1-h1>
             <a href="">Рабочее совещание с секретарями первичных организаций</a>
             </div>
             <div class=index__block-1-h2>
             В среду, 24 марта, в администрации Ворошиловского района г. Донецка состоялось рабочее совещание с секретарями первичных организаций местного отделения Общественного Движения «Донецкая Республика».
             Совещание провел секретарь местного отделения ОД «ДР» Ворошиловского района г.
             Донецка Владислав Латынцев.Также присутствовали помощник секретаря МО ОД "ДР"
             Ворошиловского района г. Донецка Анна Бондаренко, руководитель исполкома местного
             отделения ОД «ДР» Мария Васильева, руководитель общественной приемной местного отделения
             Ворошиловского района г. Донецка Светлана Васильева и базовый спикер местного отделения ОД «ДР»
             </div> </div>
        </div>
        <div class="index__block-1">
             <img class="index__block-1-img" src="/img/news/2.png">
                          <div>
                          <div class=index__block-1-h1>
                          <a href="">Поможем решить любую проблему</a>
                          </div>
                          <div class=index__block-1-h2>
                          В почтовый ящик Председателя ОД «ДР» Пушилина Д.В. Ворошиловского района г. Донецка
                          поступило заявление от Большедворской Нины Афанасьевны с просьбой помочь приобрести слуховой
                          аппарат для ее мужа Михаила Константиновича.
                          Руководитель Общественной Приемной Светлана Васильева не осталась в стороне и помогла
                          оперативно решить проблему.
                          При содействии главы администрации, секретаря местного отделения Общественного Движения
                           «Донецкая Республика» Ворошиловского района г. Донецка Владислава Латынцева был найден и
                           приобретен подходящий слуховой аппарат.

                          </div> </div>
        </div>
        <div class="index__block-1">
              <img class="index__block-1-img" src="/img/news/3.png">
                           <div>
                           <div class=index__block-1-h1>
                           <a href="">Работа общественной приемной</a>
                           </div>
                           <div class=index__block-1-h2>
                           Сегодня, 23 марта, в общественной приёмной Председателя Общественного Движения «Донецкая
                           Республика» Пушилина Д.В. Ворошиловского района г. Донецка личный приём провел глава
                           администрации Ворошиловского района г. Донецка, секретарь местного отделения Общественного
                           Движения «Донецкая Республика» Ворошиловского района г. Донецка Владислав Латынцев
                           совместно с руководителем общественной приемной Светланой Васильевой.
                           В ходе приёма жители задавали вопросы о постановке на квартирный учет, содействии
                           для определения в дом-интернат, об устранении аварийной ситуации, улучшении санитарных
                           условий, оказании социальной и гуманитарной помощи и другие.
                           </div> </div>
        </div> -->
        <!-- <img class="index__block-page" src="/img/news/21.png"> -->
    </div>
</index>