.icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	&_news{
		background-image: url("/img/icons/icons8-us-news-50.png");
	}
	&_feedback{
		background-image: url("/img/icons/icons8-group-message-50.png");
	}
	&_info{
		background-image: url("/img/icons/icons8-информация-50.png");
	}
	&_downarrow{
		background-image: url("/img/icons/icons8-шеврон-вниз-50.png");
	}
}