.table-users{
	display: table;
    margin: 40px 20px;
    width: calc(100% - 40px);
    padding: 15px;
    max-width: 1000px;
    background-color: #d7d7d7;
    & .labels{
		margin-bottom: 10px;
	    height: 32px;
	    vertical-align: baseline;
	    text-align: center;
	    color: #333;
    	&__id,&__avatar,&__name,&__money,&__email,&__email-confirm,&__date-reg{
	    	font-family: var(--firstFontBold);
    	}
    	&__avatar{

    	}
    	&__name{

    	}
    	&__money{

    	}
    	&__email{

    	}
    	&__email-confirm{

    	}
    	&__date-reg{

    	}
    }
    & .user{
    	border-bottom: 1px solid #e5f4ff;
	    text-align: center;
	    height: 60px;
	    vertical-align: middle;
    	&__id{
			font-family: var(--firstFontBold);
			min-width: 25px;
    	}
    	&__ava{
			width: 40px;
		    height: 40px;
		    display: block;
		    margin: auto;
    		margin-top: 10px;
		    overflow: hidden;
		    border-radius: 50%;
		    &>img{
		    	width: 100%;
			    height: 100%;
			    object-fit: cover;
		    }
    	}
    	&__name{

    	}
    	&__money{
			
    	}
    	&__email{
			
    	}
    	&__email-confirm{

    	}
    	&__date-reg{
    		
    	}
    }
}