.header{
	--header-height: 100px;
	height: var(--header-height);
	width: 100%;
	position: relative;
	&__fixed{
		height: var(--header-height);
		width: 100%;
		background-color: var(--color-3);
		position: fixed;
	}
	&__container{
		height: 100%;
		display: flex;
		justify-content: space-between;

	}

	&__logo{
		padding: 5px 10px;
		transition: background ease .1s;
		display: flex;
		align-items: center;
		&-img{
			width: 84px;
		    height: 72px;
		    margin-right: 1.4rem;
		    object-fit: contain;
		}

		&-text{
    		color: var(--color-1);
			font-size: 18px;
			font-weight: normal;
			line-height: 22px;
    		display: flex;
		    align-items: center;
		}
	}

	&__nav{
		display: flex;
    	align-items: center;
		&-list{
		    height: 100%;
			font-size: 14px;
		    font-weight: 700;
			display: flex;
		    align-items: center;
		}

		&-item{
			height: 100%;
			margin: 0 2px;
		}

		&-link{
			height: 100%;
			padding: 10px;
		    transition: background ease .1s;
		    display: flex;
		    align-items: center;
		}

	}

}