<index class="about">
    <div class="about__block">
        <div class="about__block-1">
             <img class="about__block-1-img" src="/img/about.png">
             </div>
             <div class=about__block-1-h1>
                Ворошиловский район города Донецка основан 12 апреля 1973 года.
                    <br>
                        Глава администрации Ворошиловского района – Латынцев Владислав Борисович<br>

                        На территории района действуют ведущие предприятия Республики:<br>

                        – Государственное предприятие «Донецкая железная дорога» –  одно из градообразующих и бюджетофо
                        рмирующих комплексов Донецкой Народной Республики.<br>

                        – Государственное предприятие «Донецкая угольная энергетическая компания» – на сегодня является
                        флагманом угольной промышленности.<br>

                        – Государственное предприятие «Почта Донбасса» – отделения связи работают во всех, даже самых
                        отдаленных уголках Республики.<br>

                        – Государственное предприятие «КОМТЕЛ» является крупнейшим телекоммуникационным предприятием ДНР.<br>

                        – Коммунальное предприятие «Дорожное ремонтно-строительное управление» обеспечивает безопасное
                         движение автотранспорта и пешеходов по улично-дорожной сети города Донецка.<br>

                        – Коммунальное предприятие «Служба единого заказчика Ворошиловского района г.Донецка»
                        предоставляет жилищно-коммунальные услуги жителям района.<br>

                        – Коммунальное предприятие администрации города Донецка «Донэлектроавтотранс» оказывает услуги
                        по перевозке, как жителей города Донецка, так и его гостей. Ежедневно на маршруты города Донецка
                         выходят 125 троллейбусов,85 трамваев и 29 комфортабельных автобусов и  перевозят более 320
                         тысяч человек.<br>

                        – Республиканское предприятие «Региональная энергопоставляющая компания» обеспечивает надежное
                         и бесперебойное энергоснабжение городов и сел, населения, школ, больниц, предприятий и
                         организаций Донецкой Народной Республики.<br>

                        Медицинское обеспечение населения Ворошиловского района  осуществляют Центр первичной
                        медико-санитарной помощи № 2, Центр первичной медико-санитарной помощи №13, две многопрофильные
                        больницы: Центральная городская клиническая больница №1, Городская больница №5, студентам города
                         Донецка предоставляет услуги – Городская больница №4.<br>

                        В районе находится два театра – «Донецкий государственный академический музыкально –
                        драматический театр им. М.М. Бровуна» и «Донецкий государственный академический театр оперы
                        и балета им.А.Б.Соловьяненко», «Донецкая государственная академическая филармония», а также
                        «Донецкий республиканский художественный музей», 4 библиотеки, крупнейшая из которых «Донецкая
                         республиканская универсальная научная библиотека им. Н.К.Крупской», «Дом работников культуры
                         г.Донецка» и другие.<br>

                        На территории района находятся 7 организаций и учреждений высшего профессионального образования
                         – Государственное образовательное учреждение высшего профессионального образования «Донецкая
                          академия управления  и государственной службы при Главе Донецкой Народной Республики»,
                          Государственное образовательное учреждение высшего профессионального образования «Донецкий
                           национальный университет», Государственное образовательное учреждение высшего п
                           рофессионального образования «Донецкий национальный технический университет», Государственна
                           я образовательная организация высшего профессионального образования «Донецкий национальны
                           й университет экономики и торговли им. М.И. Туган-Барановского», Государственная образова
                           тельная организация высшего профессионального образования «Донецкая государственная музыка
                           льная академия им. С.С. Прокофьева», Государственное образовательное учреждение высшего пр
                           офессионального образования «Академия гражданской защиты» Министерства по делам гражданск
                           ой обороны, чрезвычайным ситуациям и ликвидации последствий стихийных бедствий Донецкой Народной Республики», Образовательная организация высшего профессионального образования «Д
                           онецкая академия транспорта», а так же 8 профессиональных образовательных учреждений.
             </div>
             </div>
</index>