<input id="news-url" type="text">
<button id="btn">Получить</button>

<script>
	$("#btn").on("click",function(e){
		$.post("/news/parse-news",{url:$("#news-url").val()})
		 .done(function( data ) {
		  console.log(data);
		});
	});
</script>